.footer {
    padding-top: 8.333rem;
    background-color: $color-white;
    @include atSmall {
        padding-top: 6.25rem;
    }

    &__content {
        background-color: $color-black;
        @include atSmall {
            display: flex;
            align-items: stretch;
            justify-content: space-between;
        }

        &-group {
            padding: 5rem;
            @include atSmall {
                flex: 1 0 25%;
                padding: 3rem;
            }
            @include atMedium {
                padding: 4rem;
            }
            @include atLarge {
                padding: 4.75rem;
            }

            & + & {
                border-top: 1px solid $color-white;
                @include atSmall {
                    border-top: 0;
                    border-left: 1px solid $color-white;
                }
            }

            &--center {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }

    &__logo {
        width: 100%;
        display: block;

        &-img {
            width: 100%;
        }
    }

    &__menu {
        text-align: center;
        @include atSmall {
            text-align: left;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
        }

        &-item {
            color: $color-white;
            font-family: $font-accent;
            @extend .paragraph;
            @extend .paragraph--big;

            & + & {
                margin-top: 2rem;
                @include atSmall {
                    margin-top: 1rem;
                }
                @include atMedium {
                    margin-top: 0;
                }
            }
        }

        &-link {
            position: relative;
            
            &:after {
                content: "";
                position: absolute;
                bottom: -4px;
                left: 0;
                background-color: $color-white;
                width: 100%;
                height: 3px;
                transform-origin: 0% 50%;
                transform: scaleX(0);
                transition: all .25s;
                opacity: 0;
                pointer-events: none;
            }
        
            &:hover {
                &:after {
                    transform: scaleX(1);
                    opacity: 1;
                }
            }
        }
    }
}