.back {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;

    * {
        transition: all .25s;
    }

    &__icon {
        width: 3.333rem;
        margin-right: 1.25rem;
        @include atSmall {
            width: 2.5rem;
            margin-right: 0.9375rem;
        }
    }

    &:hover {
        .back {
            &__icon {
                margin-right: .5rem;
            }
        }
    }
}