.section-ingredients {
    padding: 16.667rem 0 18.333rem 0;
    @include atSmall {
        padding: 12.5rem 0 13.75rem 0;
    }

    &__intro {
        margin-bottom: 8.75rem;
    }

    &__table {
        @include atSmall {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
        }

        &-header,
        &-content {
            padding-top: 3.125rem;
            padding-left: 3.125rem;
            border-left: 1px solid $color-gray-light;
            @include atSmall {
                border-left: 0;
                border-top: 1px solid $color-gray-light;
                padding-left: 0;
            }
        }

        &-header {
            position: relative;
            padding-top: 0;
            padding-bottom: 3.125rem;
            @include atSmall {
                padding-top: 3.125rem;
                padding-bottom: 0;
                flex: 1 0 20%;
                max-width: 200px;
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 50%;
                height: 1px;
                background-color: $color-gray-light;
                @include atSmall {
                    width: 1px;
                    height: 100%;
                    bottom: auto;
                    top: 0;
                    right: 0;
                    left: auto;
                }
            }
        }

        &-content {
            @include atSmall {
                padding-left: 6.25rem;
            }
        }

        & + & {
            margin-top: 4.167rem;
            @include atSmall {
                margin-top: 3.125rem;
            }
        }
    }

    &__group {
        & + & {
            margin-top: 2.5rem;
            @include atSmall {
                margin-top: 1.875rem;
            }
        }
    }
}